body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d2d2d;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px #000;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 10px;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #444;
  border: 5px solid #333;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 2px 2px #000;
}

.cell:hover {
  background-color: #555;
}

.winner {
  font-size: 2em;
  color: #ff0;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 2px 2px #000, 3px 3px #333, 4px 4px #666;
  animation: winnerAnimation 1s infinite;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  background-color: #444;
  border: 2px solid #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

@keyframes winnerAnimation {
  0%, 100% {
      transform: scale(1);
      color: #ff0;
  }
  50% {
      transform: scale(1.2);
      color: #f00;
  }
}
